.facet-values {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;

  li {
    display: table-row;
    .selected {
      @extend .text-success;
    }
  }

  .remove {
    color: $text-muted;
    font-weight: bold;
    padding-left: $spacer / 2;

    &:hover {
      color: theme-color("danger");
      text-decoration: none;
    }
  }

  .facet-label {
    display: table-cell;
    text-indent: -15px;
    padding-left: 15px;
    padding-bottom: $spacer / 2;
  }

  .facet-count {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    width: 3em;
  }
}
